<table class="table table-striped">
  <thead class="nav-actualizar">
   <tr>
    <th>Nombre</th>
    <th>Baños</th>
    <th>Cuartos</th>
    <th>Garajes</th>
    <th>Tipo de propiedad</th>
    <th>Tipo de inmueble</th>
    <th>Precio</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
    {{#each propiedades}}
  <tr>
      <td>{{nombre}}</td>
     <td>{{nbanos}}</td>
     <td>{{ncuartos}}</td>
     <td>{{ngarajes}}</td>
     <td>{{tipoDePropiedad}}</td>
     <td>{{tipoDeInmueble}}</td>
     <td>{{precio}}</td>
     <td><a href="/propiedad/actualizar/{{id}}">Actualizar</a></td>
     <td><a href="/propiedad/eliminar/{{id}}">Eliminar</a></td>
  </tr>{{/each}}
</table>